
.loading { cursor: wait; }

.title{
  text-align: center;
}
.contain{
  width: 100%;
  overflow: hidden
}
.hidden {
  display: hidden;
}
.unhidden{
    display:block;
}
.ibtable {
  margin: 10px;
  float: left;
  overflow: hidden;
}
.ibchart {
  /* float: right; */
  height: 550px;
  width: 600px;
  margin: 25px;
  /* display: none */
}
.hiddendiv{
  display: none
}
.navbar-nav {
  width: 100%;
  text-align: center;

  > li {
    float: none;
    display: inline-block;
  }
}
.navbar-dark{
  background-color: #003057;
}
.btn{
  margin: 1px;
  background-color: #EAAA00;
}
.btn:hover{

  background-color: #F5D580;
}

.card-body{
  background-color: #003057;
}

text-gold{
  color: #EAAA00;
}
/* div {
  margin: 10px;
} */
form{
  margin: 10px;
}

p.testp{
  margin: 10px;
}

ul {
  margin:10px;
}
table, th, td {
  border: 1px solid black;
  td.selected {background-color: red;};

}
tr:hover {
  background-color:#F5D580;
  cursor: pointer
}
tr.sortable {
  cursor: pointer
}

caption {
    display: table-caption;
    text-align: center;
}

table.table2 {
  margin: 1px;
  border: 1px solid black;
}

/* table.table2 tr:hover {

  cursor: pointer
} */
table.table2 tr.sortable {
  cursor: pointer
}

mark1 {
    background-color: #ff6347;
    color: black;
}

mark2 {
    background-color: #FFA500;
    color: black;
}

mark3 {
    background-color: #707070;
    color: white;
}

mark4 {
    background-color:#00008B;
    color: white;
}

mark5 {
    background-color:#B22222;
    color: white;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #FFFFFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-style: solid;
  border-color: #DCDCDC;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
